<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.findurpanditji">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- for our main activty or we can say the launcher activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- the GOD activity files -->
        <activity android:name=".ui.gods.LaxmiActivity" />
        <activity android:name=".ui.gods.ShivaActivity" />
        <activity android:name=".ui.gods.VishnuActivity" />
        <activity android:name=".ui.gods.GaneshActivity" />
        <activity android:name=".ui.gods.DurgaActivity" />
        <activity android:name=".ui.gods.SaraswatiActivity" /> <!-- the PUJA activity files -->
        <!-- for our sub package   'recycelr_view_example' -->
        <activity android:name=".ui.pujas.BhoomiPuja" />
        <activity android:name=".ui.pujas.AnnaprashanPuja" />
        <activity android:name=".ui.pujas.DhanterasPuja" />
        <activity android:name=".ui.pujas.DurgaPuja" />
        <activity android:name=".ui.pujas.GauriPuja" />
        <activity android:name=".ui.pujas.KaalSarpPuja" />
        <activity android:name=".ui.pujas.MataKiChowkiPuja" />
        <activity android:name=".ui.pujas.MahamrityunjayaPuja" />
        <activity android:name=".ui.pujas.NavratriPuja" />
        <activity android:name=".ui.pujas.RudrabhishekPuja" />
        <activity android:name=".ui.pujas.ShivPuja" />
        <activity android:name=".ui.pujas.PujasListActivity" />
        <activity android:name=".recycler_view_example.GodsActivity" />

        <!-- for our login files -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FillUserProfileActivity"></activity>
        <activity android:name=".UserProfile"></activity>
    </application>

</manifest>